@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Lumanosimo";
    src: url("../fonts/GochiHand-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }