@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Lumanosimo";
    src: url("../public/fonts/Willow.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }